<!--Banner-->
<div class="header">
  <div class="Banner">
    <img src="assets\Imagenes\banner.jpg" class="img-fluid" id="Banner">
  </div>
</div>

<!--Barrra de Navegacion-->
<!--El id Sticky se encarga de que la barra de menu se quede fijada a la parte superior de nuestra pantalla-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" style="margin-bottom: 20px;">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Perf']" routerLinkActive="active">Perfiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/Admin']" routerLinkActive="active">Administrador</a>
    </li>
  </ul>
</nav>
